.IngredientCard {
display: flex;
position: relative;
flex-direction: column;
align-items: center;
max-width: 272px;

}

.priceProduct {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.picture {
width: 240px;
height: 120px;
}