.header {
    width: 100%;
    box-sizing: border-box;
    background: #1C1C21;
    display: flex;
    justify-content: center;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}


.menu {
    width: 1280px;
    display: flex;  
    flex-direction: row;  
    align-items: center;

}


.headerLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.logo {
    margin: 0 auto;
    cursor: pointer;
}