.detailsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detailsImage {
  min-height: 240px;
}

.detailsName {
  min-height: 30px;
}

.detailsInfo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 20px;
    width: 100%
}

.ingredientDetail {
    display: flex;
    flex-direction: column;
    gap: 8px;
}