.sectionConstructor {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 656px;
}

.sectionConstructor::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.sectionConstructor::-webkit-scrollbar-thumb {
  background: #8585ad;
  scroll-behavior: smooth;
}

.sectionConstructor::-webkit-scrollbar-thumb:hover {
  border: 3px solid #8585ad;
}

.burgerData {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footerConstructor {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.price {
  display: flex;
  flex-direction: row;
}
